<body>
    

<p>Sesión 18 _ consumo API</p>

<table id="data">
	<tr>
		<th>UserId</th>
        <th>Id</th>
		<th>Title</th>
		<th>Completed</th>
        <th>Editar</th>
        <th>Eliminar</th>

	</tr>
	<tr *ngFor="let dato  of datos; let index as number">
        <td>{{dato.userId}}</td>
        <td>{{dato.id}}</td>
        <td>{{dato.title}}</td>
        <td>{{dato.completed}}</td>
        <td><button class="d-flex justify-content-center btn btn-success"
            (click)="editar(dato.id)"
            >EDITAR</button></td>
        <td><button class="d-flex justify-content-center btn btn-danger" (click)="delete(dato)">ELIMINAR</button></td>

    </tr>
</table>

</body>